.circle {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	position:fixed;
	font-size:20px;
	color:#fff;
	line-height:100px;
	background:#000;
	top:10;
	left:10;
	/* width and height can be anything, as long as they're equal */
}
#box {
	height:3000;
	overflow:scroll;
}